body{
    font-family: 'Oswald', sans-serif;
}
.header{
        background-image: url(images/donation1.jpg);
        text-align: center;
        padding:0;
        margin:0;
        text-shadow: 3in;
      
      height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        position: center;
        }
        #white{
            font-size: 50px;
            color:white;
        }
        #whitesmoke{
            font-size: 20px;
            color:whitesmoke;
        }
        #anchor{
            color: aqua;
            text-decoration: none;
            font-size: 20px;
            padding: 10px 20px;
            border:40px 30px ;
            margin: 5px 5px ;
            border-radius: 5px;
            font-weight: 700;
            width: auto;
            top: 70%;
            text-align: center;
            background-image: linear-gradient(orange,tomato);
        }
        #black{
            color: black;
            font-size: 50px;
            text-align: center;
        }  
        #donate{
            text-align: center;
        }
        .amount{
            display: flex;
            font-size: 40px;
            text-align: center;
            width: 100px;
            height: 50px;
            background-color: aquamarine;
            border: 1px solid black;
            float: left;
            padding: 40px;
            margin: 10px;
            

        }
        .donate{
            width: 1200px;
            height: 300px;
            
            margin:0 auto;
            margin-top: 2px;
           position: relative;
           text-align: center;
           padding-top: 20px;
           align-items: center;
            
            
        }
        .new{
            background-color: red;
        }
        #plan{
            color: black;
            font-size: 50px;
            text-align: center;
        }
        #donate-plan{
            text-align: center;
        }
        .container{
            position: relative;
            width: 1200px;
            height: 300px;
            margin: 240px auto;
           
            
        }
        .container .box{
            position: relative;
            width: calc(400px - 30px);
            height:calc(300px - 30px);
            background: brown;
            float: left;
            margin: 15px;
            box-sizing: border-box;
            overflow: hidden;
            border-radius: 10px;
        }
        .container .box .icon{
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;

        }
    .new-container{
        display: flex;
        }
       .text-image{
        width: 50%;
        padding-left: 2%;
       } 
       .text-image img{
        width: 60%;
       }
       .button{
        text-decoration: none;
        background-color: chocolate;
       }
    .donate-room{
        display: flex;
    }
    .class{
        text-align: center;
    }
       

    
